.nav {
    position: relative;
    top: 10px;
    left: 10px;
    width: 96%;
    background-color: aqua;
    padding: 10px;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
} 

button {
    font-size: 12px;
    font-family: Verdana,Helvetica;
    font-weight: bold;
    color: white;
    background: #638cb5;
    border: 0px;
    width: 120px;
    height: 36px;
    display: flex;
    align-self: baseline;
}

input {
    font-size: 12px;
    font-family: Verdana,Helvetica;
    font-weight: bold;
    color: #d64141;
    background: #fbfcfc;
    border: 3px;
    border-color: black;
    width: 120px;
    height: 36px;
    display: flex;
}
    